[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
pymongo = "*"
APScheduler = "*"
pusher = "*"
Flask-MongoAlchemy = "*"
"Jinja2" = ">=2.10.1"
"urllib3" = ">=1.24.2"

[dev-packages]

[requires]
python_version = "3.6.2"

[scripts]
start = "python RTI/__init__.py"
