@import "font.css";
@import "comp/nav.css";
@import "comp/heading.css";
@import "comp/layout.css";
@import "comp/logspanel.css";

* {
    color: #fff;
}

html {
    background-color: #212121;
}

a {
    text-decoration: none;
    font-family: 'Noto Sans KR Bold';
    color: #fff;
    letter-spacing: -1px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR';
}

.circleprogress {
    float: left;
}

.circleprogress > strong {
    position: absolute;
    margin-top: -53px;
    margin-left: 22px;
    font-size: 18px;
    text-align: center;
}