<html lang="ko">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="description" content="RTI :: Real-Time Inspector">
    <meta property="og:title" content="RTI :: Real-Time Inspector">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hjh010501.github.io/neis-counter">
    <meta property="og:locale" content="ko_KR">
    <meta property="og:description" content="RTI :: Real-Time Inspector">
    <meta property="og:image" content="ogimage.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/init.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/odometer-theme-default.css') }}" />
    <title>🔍RTI :: Real-Time Inspector</title>
</head>

<body>
    <div class="nav">
        <div class="nav-content">
            <div class="nav-left-side">
                <div class="nav-logo">😊</div>
                <div class="nav-menu">
                    <div onClick="toDashboard()" class="nav-menu-button Dashboardbutton">Dashboard</div>
                    <div onClick="toStatus()" class="nav-menu-button Statusbutton">Status</div>
                    <div onClick="toLogs()"  class="nav-menu-button Logsbutton">Logs</div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-center">
        <div class="Dashboard">
            <h1>Dashboard</h1>
            <div class="circleprogress" id="cpucircle">
                <strong></strong>
            </div>
            <div style="margin-left: 50px;" class="circleprogress" id="memorycircle">
                <strong></strong>
            </div>
            <div style="margin-left: 50px;" class="circleprogress" id="diskcircle">
                <strong></strong>
            </div>
            <div class="chartarea">
                <h3> {{ dbinfo['cpu_info'] }}</h3>
                <canvas id="cpu-chart" width="400" height="150"></canvas>
            </div>
            <div class="chartarea">
                <h3>Unused: <div class="odometer" id="memoryunused"></div>MB / Used: <div id="memoryused"
                        class="odometer">
                    </div>MB</h3>
                <canvas id="memory-chart" width="400" height="150"></canvas>
            </div>
            <div class="chartarea">
                <h3>Unused: <div class="odometer" id="diskunused"></div>MB / Used: <div id="diskused" class="odometer">
                    </div>MB</h3>
                <canvas id="disk-chart" width="400" height="150"></canvas>
            </div>
        </div>

        <div style="display: none;" class="Status">
                <h1>Status</h1>

        </div>

        <div style="display: none;" class="Logs">
                <h1>Logs</h1>
                <div class="logspanel"></div>
        </div>

    </div>
</body>
<script src="{{ url_for('static', filename='js/odometer.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://js.pusher.com/4.4/pusher.min.js"></script>
<script src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>
<script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.2/dist/circle-progress.js"></script>
<script src="{{ url_for('static', filename='js/data.js') }}"></script>
<script src="{{ url_for('static', filename='js/anime.js') }}"></script>
<script src="{{ url_for('static', filename='js/pageanime.js') }}"></script>
<script>

    cpucount = [...Array(20).keys()].slice(1);
    cpuper = {{ dbinfo['cpu'] }};
    memorycount = [...Array(20).keys()].slice(1);
    memoryper = {{ dbinfo['memory'] }};
    diskcount = [...Array(20).keys()].slice(1);
    diskper = {{ dbinfo['disk'] }};

</script>


<script src="{{ url_for('static', filename='js/pusher.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script>

    let cpuchart = new Chart(selcpuchart, {
        type: 'line',
        data: {
            labels: cpucount,
            datasets: cpuchartdatasets
        },
        options: chartoptions
    });

    let memorychart = new Chart(selmemorychart, {
        type: 'line',
        data: {
            labels: memorycount,
            datasets: memorychartdatasets
        },
        options: chartoptions
    });

    let diskchart = new Chart(seldiskchart, {
        type: 'line',
        data: {
            labels: diskcount,
            datasets: diskchartdatasets
        },
        options: chartoptions
    });


    let c4 = $('#cpucircle');
    c4.circleProgress({
        value: 0,
        startAngle: 3 / 2 * Math.PI,
        size: 80,
        fill: {
            gradient: ["rgba(168, 68, 241, 1)", "rgba(246, 41, 99, 1)"]
        }
    }).on('circle-animation-progress', function (event, progress, stepValue) {
        $(this).find('strong').text(Math.round(stepValue * 100) + "%");
    });

    let c5 = $('#memorycircle');
    c5.circleProgress({
        value: 0,
        startAngle: 3 / 2 * Math.PI,
        size: 80,
        fill: {
            gradient: ["rgba(15, 236, 202, 1)", "rgba(15, 236, 42, 1)"]
        }
    }).on('circle-animation-progress', function (event, progress, stepValue) {
        $(this).find('strong').text(Math.round(stepValue * 100) + "%");
    });

    let c6 = $('#diskcircle');
    c6.circleProgress({
        value: 0,
        startAngle: 3 / 2 * Math.PI,
        size: 80,
        fill: {
            gradient: ["red", "orange"]
        }
    }).on('circle-animation-progress', function (event, progress, stepValue) {
        $(this).find('strong').text(Math.round(stepValue * 100) + "%");
    });

</script>

</html>