h1, h2, h3, h4, h4, h5 {
    font-family: 'Noto Sans KR Bold';
    letter-spacing: -1px;
}

h1 {
    font-size: 36pt;
}

h2 {
    font-size: 28pt;
}

h3 {
    font-size: 24pt;
}

h4 {
    font-size: 20pt;
}

h5 {
    font-size: 16pt;
}
