.layout-center {
    width: 1040px;
    margin: 0 auto;
}

.chartarea {
    width: 100%;
    height: 400px;
    margin-top: 150px;
}

#loss-chart, #accuracy-chart {
    display: block;
    height: 390px !important;
    width: 1040px !important;
}